.card {
  border-radius: var(--card-radius, 1rem);
  background-color: var(--card-background, var(--color-light));
  padding: var(--card-padding, 1rem);
  box-shadow: 0 0.25rem 0.45rem -0.25rem rgba(0, 0, 0, 0.15);
}

.card--stats {
  aspect-ratio: 1;
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;

  dt {
    display: grid;
    grid-template-rows: 1fr auto;
    font-size: 1rem;
    font-size: clamp(1rem, 8qi, 1.25rem);
  }

  dd {
    font-size: 1rem;

    strong {
      display: block;
      font-size: 1.5rem;
      line-height: 1.3;
    }
  }
}

.chart {
  background-image: paint(houdiniBarCharts);
  margin: 8%;
}

@supports not (aspect-ratio: 1) {
  .cards--stats {
    height: max(25vh, 15rem);
  }
}
