.container {
  --container-width: 100ch;
  --container-gutter: 2rem;
  --container-padding: 1rem;

  border: 1px solid red;
  margin-inline: auto;
  padding-block: var(--container-padding);
  width: min(var(--container-width), 100% - var(--container-gutter));
}
